*,
*::after
*::before{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	font-size: 18px;
	line-height: 140%;
	color: #1F1E1E;
	line-height:1;
}
a{
	text-decoration: none;
	color: inherit;
}

.title{
text-align: center;
font-size: 36px;
font-weight: 500;
line-height: 130%;
}


.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}
.header{
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.header__inner{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh ;

}
.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	flex-wrap: wrap;
	padding: 16px 0 49px;
}

.header__phone{
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	font-weight: 700;
	transition: all 1s ease 500ms;
}
.header__phone-number{
	font-weight: 400;
	margin-left: 19px;
	padding: 12px 31px 13px;
	background-color: #886239;
	border-radius: 22px;
}
.header__phone:hover{
	color: #3B270C ;
	transform: scale(1.2);
}


.menu{
	width: 100%;
	border-top: 1px solid #FFFFFF; 
	border-bottom: 1px solid #FFFFFF; 
	margin-top: 15px ;
	padding: 27px 0 24px;
}

.menu__list{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 16px;
	color: #fff;
	transition-delay: 300ms;
	transition-property: all;
}
.menu__list:hover{
	color: #3B270C ;
	transform: scale(1.2);
}

.header__title{
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 100px;
	line-height: 130%;
	text-align: center;
	margin-bottom: auto;
}
.header__descr{
	font-weight: 700;
	font-size: 20px;
	max-width: 420px;
	margin-bottom: 8px;
}
.button{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	padding: 19px 55px 20px;
	background-color: #886239;
	border-radius: 30px;
	margin-bottom: 10px;
	transition: all 1s ease 500ms;
}
.button:hover{
	background-color: #3B270C ;
	transform: scale(1.2);
 }

.header__arrow{
	text-align: center;
	margin-bottom: 15px;
}

.direction{
	padding: 100px 0;
}


.direction__inner{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 32px;
}

.direction__img{
	display: block;
	width: 100%;
}

.description__text{
	font-size: 16px;
	border: 1px solid #D9D9DE;
	border-top: none;
	padding: 10px 19px 14px;
}

.travel-info{
	background-image: url(../images/travel-info-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 30px 0 50px;
}

.travel-info__title{
	color: #fff;
	margin-bottom: 50px;
}
.travel-info__items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 54px 67px;
}
.travel-info__text{
	color: #fff;
	font-size: 16px;
	line-height: 130%;
}
.travel-info__img{
	margin-bottom: 15px;
}

.map{
	padding-bottom: 100px;

}
.map__title{
	margin-bottom: 46px;
	margin-top: 46px;
}
.about{
	padding-bottom: 100px;
}
.about__inner{
	display: grid;
	grid-template-columns: 448px 640px;
	grid-gap: 32px;
}
.about__title {
	text-align: left;
	margin-bottom: 25px;
}
.about__text{
	margin-bottom: 34px;
	
}
.about__link{
	font-size: 16px;
	line-height: 19px;
	color: #C4C4C4;
	text-decoration: underline;
	transition-duration: 0.7s;
}
.about__link:hover{
	color: #000000;
}
.about__videeo{
	background-image: url("../images/video.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.gallery{
	padding: 50px 0 105px;
	background: #886239;
	color: #fff;
}
.gallery__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.gallery__item-inner{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;	
}
.gallery__link{
	font-size: 16px;
	line-height: 19px;
	text-decoration: underline;
	transition-duration: 0.7s;
}
.gallery__link:hover{
	color: #000000;
}

.tour{
	padding: 100px 0px;
}
.tour__title{
	margin-bottom: 77px;
}
.tour__box{
	column-count: 2;
	column-gap: 46px;
	border-bottom: 1px solid #D9D9DE;
	margin-bottom: 44px;
	padding-bottom: 50px;
}

.tour__text{
	margin-bottom: 15px;
}
.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction:row;
}

.info-item{
	font-weight: bold;
	font-size: 58px;
	line-height: 60px;
	color: #886239;
	font-family: 'PT Serif', serif;
	text-align:center
}

.info-text{
	color:#1F1E1E;
	font-size: 20px;
	font-family: 'Roboto' sans-serif;
	font-weight: 500;
	text-align: center;
	line-height: 25px;
}
.booking{
	background: #EAEAEA;
	padding: 75px 0;
}
.booking__title{
	margin-bottom: 43px;

}
.booking__form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 0 auto;
}
.booking__input{
	width: 200px;
	height: 24px;
	border: 1px solid #D9D9DE;
	padding: 11px 14px 12px;
	margin-bottom: 28px;
	font-size: 16px;
}
.booking__input::placeholder{
	font-size: 16px;
	color: #C4C4C4;
	font-family: 'Roboto' sans-serif;
}

.booking__area{
	width: 100%;
	height:112px;
	padding: 14px;
	border: 1px solid #D9D9DE;
	resize: none;
	margin-bottom: 45px;
}
.booking__area::placeholder{
	font-size: 16px;
	color: #C4C4C4;
	font-family: 'Roboto' sans-serif;
}
.button__1{
	background-color: #886239;
	border-radius: 30px;
	border: none;
	font-size: 18px;
	line-height: 21px;
	color: #FFF;
	padding: 19px 65px 20px;
	margin: 15px;
	transition: all 1s ease 500ms;;
}
.button__1:hover{
	background-color: #3B270C;
	transform: scale(1.2);

}
.booking__div{
	font-size: 16px;
	line-height: 130%;
	text-decoration: underline;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.footer{
	background: #1F1E1E;
	padding: 80px 0;
}

.footer__logo{
	text-align: center;
	margin-bottom: 70px;
}

.footer__box{
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-size: 14px;
	line-height: 130%;
	max-width: 830px;
	margin: 0 auto ;
}
.footer__info{
	width: 225px;
}

.footer__box-title{
	margin-bottom: 7px;
	font-weight: 500;
}
.footer__copy{
	margin-bottom: 3px;
	opacity: 0.8;
}
.footer__link{
	text-decoration: underline;
	opacity: 0.8;
}
.footer__adress{
	width: 165px;
}
.footer__adress-text{
	opacity: 0.8;
}
.footer__contacts{
	width:210px ;
}
.footer__phone{
	opacity: 0.8;
}
.footer__mail{
	opacity: 0.8;
	display: block;
}
.menu__btn{
	display: none;
}

@media(max-width: 1252px){
	.header__title{
		font-size: 70px;
	}

}

@media(max-width: 1200px){
	.header__title{
		font-size: 70px;
	}


}

@media(max-width: 1140px){
	.header__title{
		font-size:70px;
	}

	.direction__inner{
		grid-template-columns: repeat(3,1fr);
		grid-gap: 20px;
	}
	.direction__img{
		width: 100%;
	}
	.gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
	}
	.gallery__item-img{
		width: 100%;
	}
	.about__inner{
		grid-gap: 20px;
		grid-template-columns: 1fr 2fr;
	}
   
}

@media(max-width: 800px){
	.header__phone span{
		display: none;
	}
	.header__title{
		font-size: 50px;
	}
	.header__content{
		color: #fff;
	}



	.travel-info__items{
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
	}
	.gallery{
		padding-bottom: 50px;
	}
	.booking__input{
		width: 100%;

	}
	.footer{
		padding: 50px 0;
	}
	.footer__logo{
		margin-bottom: 40px;
	}
	.footer__box{
		display: block;
		text-align: center;
	}
	.footer__info,
	.footer__adress{
		margin: 0 auto 25px;
	}
	.footer__contacts{
		margin: 0 auto;
	}
	.map{
		padding-bottom: 50px;
	}
	.map__iframe{
		height: 400px ;
	}
	.info{
		flex-wrap: wrap;
	}
	.info-item{
		text-align: left;
	}
	.about__inner{
		grid-gap: 20px;
		grid-template-columns: 1fr;
	}
	.about__videeo{
		min-height: 400px;
	}
	
	.about{
		padding-bottom: 50px;
	}
	
	
	
}
@media(max-width: 560px){
	.header__title{
		font-size: 50px;
	}
	.header__content{
		color: #fff;
	}
	

	.direction__inner{
		grid-template-columns: repeat(2,1fr);
		grid-gap: 10px;
	}
	.direction{
		padding: 50px 0;
	}
	.travel-info__items{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}
	.title{
		font-size: 28px;
	}
	.gallery__item-inner {
    	grid-template-columns: repeat(1, 1fr);
	}
    .gallery__title{
    	width:100% ;
   		text-align: left;
    }
    .gallery__top{
    	flex-wrap: wrap;
    }
    .info{
		flex-wrap: wrap;
	
	}
	.info-item{
		text-align: left;
	}
	
	
}
@media(max-width: 540px){
	.header__phone-number{
		font-size: 14px;
	}
	.header__btn{
		font-size:14px;
		padding: 15px 40px 15px;

	}


}
@media(max-width: 520px){
	.header__phone-number{
		font-size: 12px;
		margin-left: -30px;
		padding:15px 35px 15px;
	}

}

@media(max-width: 496px){

	.header__title{
		font-size:38px;
	}
	.header__descr{
		font-size: 18px;
	}
	.header__content{
		text-align: center;
	}
	.header__phone-number{
		font-size: 12px;
		margin-left: -30px;
		padding:15px 35px 15px;
	}

	.info{
		flex-wrap: wrap;

	}
	.info-item{
		text-align: left;
	}
	.info-text{
		text-align: left;
	}

	.about__videeo{
		min-height: 280px;

	}
	.about__text{
	
	}

}
@media(max-width: 475px){

	.header__phone-number{
		font-size: 10px;
		margin-left: -8px;
		padding:13px 30px 13px;
	}
	

}

@media(max-width: 410px){
	.header__title{
		font-size:30px;
	}
	.header__descr{
		font-size: 16px;
	}
	.menu__list{
		flex-wrap: wrap;
		margin: 0 10px 0;

	}
	
}

@media(max-width: 352px){
	.header__title{
	margin-bottom: 262px;
	}
	
	.header__descr{
		display: none;
	}
	
	.about__videeo{
		min-height: 280px;
	}
	
}


